<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Esta es una tarjeta</ion-card-subtitle>
      <ion-card-title>Tarjeta / Card</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <br>

  <ion-button color="primary full">Primary</ion-button>
  <br>
  <ion-button color="secondary">Secondary</ion-button>
  <br>
  <ion-button color="tertiary">Tertiary</ion-button>

  <!-- Item with badge on left and right -->
  <ion-item>
    <ion-label>My Item</ion-label>
    <ion-badge slot="end">22</ion-badge>
  </ion-item>
  <br>
  <ion-icon name="add-circle"></ion-icon>
  <ion-icon name="logo-game-controller-b"></ion-icon>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  
</ion-content>
